[submodule "2320_Lab2"]
	path = 2320_Lab2
	url = https://github.com/tankweeteck-ichat/2320_Lab2.git
[submodule "Lab2_2320"]
	path = Lab2_2320
	url = https://github.com/tankweeteck-ichat/Lab2_2320.git
